<form class="ui stacked segment form" action="/bookmark/{{bookmark.id}}/addResource" method="POST" enctype="multipart/form-data">
  <div class="three fields">
    <div class="field">
      <label>Picture</label>
      <input type="file" name="picture" required>  </input>
    </div>
    <div class="field">
      <label>Title</label>
      <input placeholder="Title" type="text" name="title" autofocus required>
    </div>
    <div class="field">
      <label>Link</label>
      <input placeholder="Link" type="text" name="link" required>
    </div>
  </div>
  <button class="ui blue submit button">Add Resource</button>
</form>