{{> menu id="about"}}

<section class="ui segment grid">
    
  <div class="eleven wide column">
    <!-- Google Maps -->
                <iframe width="100%" height="400px" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d9771.450754780006!2d-7.14758273180788!3d52.2458776797631!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x4842c41310dd4131%3A0x4042f0dcf13f7cfe!2sWaterford+Institute+of+Technology!5e0!3m2!1sen!2sie!4v1511644927174"></iframe>
  </div>
  
  <div class="five wide column">
    <h3>Contact Details</h3>
                <p>Waterford Institute of Technology, Cork Road</p>
                <p>Waterford, X91 V5W9</p>
                <p><abbr title="Phone">P</abbr>: +(353) 8996 00733</p>
                <p><abbr title="Email">E</abbr>: <a href="mailto:name@example.com">webmark-slav@yahoo.com</a></p>
                <p><abbr title="Hours">H</abbr>: Monday - Friday: 9:00 AM to 5:00 PM</p>
    </div>
</section>