{{> menu}}

<section class="ui raised segment">
    <h3 class="ui header">
      Your bookmarks:
    </h3>
    <div class="ui cards">
      {{#each bookmark.resources}}
        {{> card }}
      {{/each}}
    </div>
  </section>

  {{> addresource}}