{{> menu}}

<section class="ui center aligned middle aligned segment">
  <h1 class="ui header">
    Welcome to Webmark
  </h1>
  <p>
    A Glitch app which allows a user delete existing list of bookmarks about programming websites.
  </p>
  <p>
    
    <div class="holder">
                    <div class="holder-img">
                        <img src="https://cdn.glitch.com/46a240eb-89aa-42f6-acf0-3366cb3df7cc%2FHTML5_CSS_JavaScript.png?1519734056086"
                             alt="htmlcssjavascript">
                    </div>
                    <div class="holder-hover">
                        <div class="desc">
                            <h4><a href="/dashboard">Go to bookmarks</a></h4>
                        </div>
      </div>
  </div>
     Move your mouse over the image for another view
  </p>

<h3>
  Number of bookmark sections: {{bookmarks.length}}
</h3>
<h3>
  Number of bookmark resources: {{totalBookmarkResources}}
</h3>
</section>