body {
  background: linear-gradient(110deg, #fdcd3b 60%, #ffed4b 60%);
}

.ui.table thead th {
  background-color:#b38f00;
  color:white;
}

.ui.table tr:hover {
  background-color:#f2f2f2;
}

.holder, .holder .holder-img img {
    position: relative;
    max-height:100%;
    width: 300px;
}

.holder {
    overflow: hidden;
    margin: 0 auto;
}

.holder-hover {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    margin: 0;
    background-color: rgba(255, 255, 255, 0.90);
    opacity: 0;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
}

.holder:hover .holder-hover .desc {
    top: 35%;
}

.holder:hover .holder-hover, .holder:hover .holder-hover .desc {
    opacity: 1;
}

.holder-hover .desc {
    position: absolute;
    top: 0%;
    width: 100%;
    opacity: 0;
    -webkit-transform: translateY(-55%);
    transform: translateY(-55%);
    -webkit-transition: all 0.3s 0.2s;
    transition: all 0.3s 0.2s;
    padding: 0 20px;
}

.holder:hover .holder-hover, .holder:hover .holder-hover .desc {
    opacity: 1;
}

.desc, .desc h4 {
    text-align: center;
    color: #222;
    position: relative;
    top:35px;
}

.name {
  padding-top:20px;
  padding-right:5px;
  line-height:20px;
  font-weight:bold;
}


.container {
  width: 100%;
  margin: 0 auto;
  position: relative;
}

#gform {
  background: #F9F9F9;
  padding: 25px;
  margin: 25px;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}

#gform h3 {
  display: block;
  font-size: 30px;
  font-weight: 300;
  margin-bottom: 10px;
}

fieldset {
  border: medium none !important;
  margin: 0 0 10px;
  min-width: 100%;
  padding: 0;
  width: 100%;
}

#gform input[type="text"],
#gform textarea {
  width: 100%;
  border: 1px solid #ccc;
  background: #FFF;
  margin: 0 0 5px;
  padding: 10px;
}

#gform input[type="text"]:hover,
#gform textarea:hover {
  -webkit-transition: border-color 0.3s ease-in-out;
  -moz-transition: border-color 0.3s ease-in-out;
  transition: border-color 0.3s ease-in-out;
  border: 1px solid #aaa;
}

#gform textarea {
  height: 100px;
  max-width: 100%;
  resize: none;
}

#gform button[type="submit"] {
  cursor: pointer;
  width: 100%;
  border: none;
  background: #d18e00;
  color: #FFF;
  margin: 0 0 5px;
  padding: 10px;
  font-size: 15px;
}

#gform button[type="submit"]:hover {
  background: #f2a400;
  -webkit-transition: background 0.3s ease-in-out;
  -moz-transition: background 0.3s ease-in-out;
  transition: background-color 0.3s ease-in-out;
}

#gform button[type="submit"]:active {
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.5);
}

#gform input:focus,
#gform textarea:focus {
  outline: 0;
  border: 1px solid #aaa;
}

::-webkit-input-placeholder {
  color: #888;
}

:-moz-placeholder {
  color: #888;
}

::-moz-placeholder {
  color: #888;
}

:-ms-input-placeholder {
  color: #888;
}